/.idea
/nbproject
/vendor
/.php_cs.cache
/.docker-sync
.DS_Store
/composer.lock
/docker-compose.yml
/docker-sync.yml
/project-base/composer.lock
/project-base/package-lock.json
/project-base/migrations-lock.yml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/project-base/public/bundles/
/project-base/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
